*{
   margin: 0;
   padding: 0;
}
.navbar-nav{
    margin-top: 20px;
    margin-left: 10px;
}
.d-flex{
   margin-inline-start: 200px;
}
.form-control{
   width: 400px;
   height: 50px;
   border-radius: 10px;
}
#logo{
   margin-inline-start: 60px;
   margin-bottom: 8px;
}

.img-hover:hover{
   background-color: rgb(224, 224, 224);
   border-radius: 5px;
}