/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Reseting */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

body{
   background:#222;
   color:#4a8df8;
   font-family: 'Raleway', cursive;
   font-weight:90;
   }
.wrapper {
   align-items: center;
    max-width: 500px;
    min-height: 400px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 25px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
   margin: auto;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
   
}


.wrapper a {
    text-decoration: none;
    font-size: 1rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #0a79b1;
}

@media(max-width: 180px) {
    .wrapper {
        margin: 20px 5px;
        padding: 40px 15px 15px 15px;
        top: 100px;
        bottom: auto;
    }
}

.button-45 {
   margin-top: 50px;
   align-items: center;
   right: auto;
   left: auto;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 20px;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 13px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

h1{
   color:#135cd3;
   font-weight: 500;

   }
p{
   font-size: 15.5px;
}
   .slider{
   position:absolute;
   width:300px;
   height:2px;
   margin-top:-10px;
   }
   .line{
   position:absolute;
   background:#4a8df8;
   width:420px;
   height:2.1px;
   }
   .break{
   position:absolute;
   background:#222;
   width:6px;
   height:2.1px;
   }
    
   .dot1{
   -webkit-animation: loading 2s infinite;
   -moz-animation: loading 2s infinite;
   -ms-animation: loading 2s infinite;
   -o-animation: loading 2s infinite;
   animation: loading 2s infinite;
   }
   .dot2{
   -webkit-animation: loading 2s 0.5s infinite;
   -moz-animation: loading 2s 0.5s infinite;
   -ms-animation: loading 2s 0.5s infinite;
   -o-animation: loading 2s 0.5s infinite;
   animation: loading 2s 0.5s infinite;
   }
   .dot3{
   -webkit-animation: loading 2s 1s infinite;
   -moz-animation: loading 2s 1s infinite;
   -ms-animation: loading 2s 1s infinite;
   -o-animation: loading 2s 1s infinite;
   animation: loading 2s 1s infinite;
   }
   
   @keyframes "loading" {
   from { left: 0; }
   to { left: 410px; }
   }
   @-moz-keyframes loading {
   from { left: 0; }
   to { left: 410px; }
   }
   @-webkit-keyframes "loading" {
   from { left: 0; }
   to { left: 410px; }
   }
   @-ms-keyframes "loading" {
   from { left: 0; }
   to { left: 410px; }
   }
   @-o-keyframes "loading" {
   from { left: 0; }
   to { left: 410px; }

   
   